body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  display: inline-block;
}

form {
  display: inline;
}
hr {
width: 30%;
text-align: left;
margin-left: 0
}